Flask==2.3.3
Werkzeug==2.3.7
babel==2.12.1
flask-babel==3.1.0
flask-wtf==1.1.1
wtforms==3.0.1
flask-bootstrap==3.3.7.1
flask-moment==1.0.5
flask-caching==2.0.2
Pillow
sphinx==7.2.5
python-dotenv==1.0.0
pyjwt==2.8.0
scipy
pandas==2.0.3
matplotlib==3.7.2
numpy==1.24.3
seaborn==0.12.2
plotly==5.16.1
